<!-- <% @dishes.each do |dish| %>
<p><%= dish.name %></p>
<% end %> -->

<% @dishes.each do |dish| %>
<p>
  <a href="/dishes/<%= dish.id %>">
  <%=  dish.name %>
  </a>
</p>
<a href="/dishes/<%= dish.id %>"><img src="<%= dish['image_url'] %>"></a>
<% end %>
