
<a href="/dishes">Home</a>
<h2><%= @dish.name %></h2>
<img src="<%= @dish.image_url %>" alt="">

<!-- <a href="/dishes/<%= @dish.id %>/edit">Edit</a> -->

<form action="/dishes/<%= @dish.id %>/edit" method="get">
  <button name="button">edit</button>
</form>

<form action="/dishes/<%= @dish.id %>/edit" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <button name="button">delete</button>
</form>
