
<a href="/">Home(projects/show.h.e)</a>

<h2><%= @project.title %></h2>
<div class="wrapper">
  <img src="<%= @project.preview.url %>" alt="">
  <span>&#128076;</span>
</div>
<form class="" action="/likes" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="project_id" value="<%= @project.id %>">
  <!-- <%= @project.likes.count %> -->
  <span class='like-count'></span>

  <button>Like</button>
</form>

<form action="/comments" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="project_id" value="<%= @project.id %>">
  <textarea name="body" rows="10" cols="30"></textarea>
  <button>Post comment</button>
</form>

<% @comments.each do |comment| %>
<hr>
<p><%= comment.user.email %> :-   <%= comment.body %></p>
<% end %>

<script type="text/javascript">
console.log('ready');
var stars = document.querySelectorAll('.wrapper');

stars.forEach(function(star) {
  star.addEventListener('click', function(event){
    //start from the target
    //search up for the ui-card
    var card = event.target.closest('body');
    //then search down for star-count
    var likeCount  = card.querySelector('.like-count');
    //set textContenet to existing star-count + 1
    likeCount.textContent = Number(likeCount.textContent) + 1;
  });
})
</script>
